<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="login.js"></script>

</head>
<body ng-app="app">

<div ng-controller="loginController" >
<h1>Login</h1>

	<table>
	
		<tr>
			<td>Username : </td>
			<td><input type="text" id="userName" name="userName" ng-model="userName"></td>
		</tr>

		<tr>
			<td>Password : </td>
			<td><input type="password" id="password" name="password" ng-model="password"></td>
		</tr>
		<tr>
			<td colspan="2">  <button ng-click="login(userName,password)">Login</button></td> </td>
		</tr>
	

	</table>
</div>

</body>
</html>